<form class="liisicontract-form" method="post">
	<input type="hidden" name="order_id" value="<?php echo $this->getFieldValue('order_id'); ?>" />
<?php
if (!$this->getFieldValue('success')) {
?>
	<input type="hidden" name="submitLiisiForm" value="1" />
	<?php
	$errors = $this->getFieldValue("error");
	if (!empty($errors)) {
		echo "<div class='alert error'>".$errors."</div>";
	}
	?>

	<div class="field-title"><?php echo __('Andmed'); ?></div>

	<div class="field">
		<label><?php echo __('Isikukood'); ?></label>
		<input type="text" name="idcode" />
	</div>

	<div class="field">
		<label><?php echo __('Eesnimi'); ?></label>
		<input type="text" name="firstname" value="<?php echo $this->getFieldValue('firstname'); ?>" />
	</div>

	<div class="field">
		<label><?php echo __('Perekonnanimi'); ?></label>
		<input type="text" name="lastname" value="<?php echo $this->getFieldValue('lastname'); ?>" />
	</div>

	<div class="field">
		<label><?php echo __('Mobiiltelefon'); ?></label>
		<input type="text" name="phone" value="<?php echo $this->getFieldValue('telephone'); ?>" />
	</div>

	<div class="field">
		<label><?php echo __('E-mail'); ?></label>
		<input type="text" name="email" value="<?php echo $this->getFieldValue('email'); ?>" />
	</div>

	<div class="field">
		<label title="Kas Teie, Teie perekonnaliige või lähedane kaastöötaja on riikliku taustaga isik (kõrgeima avaliku võimu ülesannete täitja)? Riikliku taustaga isik on füüsiline isik, kes täidab või on täitnud viimase aasta jooksul avaliku võimu olulisi ülesandeid, samuti sellise isiku perekonnaliikmed ja lähedased kaastöötajad. Avaliku võimu oluliste ülesannete täitmiseks loetakse töötamist rahapesu ja terrorismi rahastamise seaduse § 20 lõikes 1 nimetatud kõrgematel riiklikel ametikohtadel või riigi äriühingu juhtimis-, järelevalve- ja haldusorgani liikmena."><?php echo __('Riikliku taustaga inimene'); ?><span style="margin-left:10px;font-weight:700;" class="comment" >?</span></label>
		<select name="politically_exposed">
			<option value="0">Ei</option>
			<option value="1">Jah</option>
		</select>
	</div>

	<div class="field">
		<label title=" Krediidiotsuse tegemiseks luban Maksu- ja Tolliametil teha päringu ja edastada minu päringu andmed Holm Bank AS-le.

Kui lubad Holm Bank AS-il pärida ja Maksu- ja Tolliametil edastada alltoodud andmeid, siis kiirendab see Sinu taotluse analüüsi ja krediidiotsuse tegemist. Koostame päringu nõusoleku andmisele eelneva 12 kuu kohta. Maksu- ja Tolliamet edastab Holm Bank AS-ile järgmised andmed:

• deklareeritud tulu (v.a tulu vara võõrandamisest);

• töövõimetus-, töötuskindlustus- ja koondamishüvitised, pensionid, sissemaksed III pensionisambasse, kogumispensioni väljamaksed (TSD alusel);

• töötamise registrisse tehtud kanded (info tööandja ja töösuhte kohta);

• dividendid ja omakapitalist tehtud väljamaksed;

• maksuvõlg alates 100 €.

Holm Bank AS kasutab saadud andmeid krediidivõimelisuse hindamise eesmärgil. Holm Bank AS-il on õigus teha päringuid Maksu- ja Tolliametisse üksnes krediiditaotluse menetlemise ajal. Nõusolek on võimalik tagasi võtta igal ajal, teavitades sellest Holm Bank AS-i.
Andmete töötlemise kohta Maksu- ja Tolliametis tutvu Andmetöötlustingimustega nende kodulehel. Maksuandmete alaste küsimustega palun pöördu Maksu- ja Tolliameti poole infotelefonil 880 0811."><?php echo __('Tee Maksu- ja Tolliameti päring'); ?>
		<span style="margin-left:10px;font-weight:700;" class="comment" >?</span></label>
		<select name="pension_query">
			<option value="0">Ei</option>
			<option value="1">Jah</option>
		</select>
	</div>

	<div class="field-title"><?php echo __('Aadress'); ?></div>

	<div class="field">
		<label><?php echo __('Tänav'); ?></label>
		<input type="text" name="address[street]" value="<?php echo $this->getFieldValue('address_street'); ?>" />
	</div>

	<div class="field">
		<label><?php echo __('Maja number'); ?></label>
		<input type="text" name="address[house]" />
	</div>

	<div class="field">
		<label><?php echo __('Korter'); ?></label>
		<input type="text" name="address[apartment]" />
	</div>

	<div class="field">
		<label><?php echo __('Linn'); ?></label>
		<input type="text" name="address[city]" value="<?php echo $this->getFieldValue('address_city'); ?>" />
	</div>

	<div class="field">
		<label><?php echo __('Maakond'); ?></label>
		<input type="text" name="address[county]" value="<?php echo $this->getFieldValue('address_region'); ?>" />
	</div>

	<div class="field">
		<label><?php echo __('Indeks'); ?></label>
		<input type="text" name="address[zip]" value="<?php echo $this->getFieldValue('address_zip'); ?>" />
	</div>

	<div class="field-title"><?php echo __('Tööandja andmed'); ?></div>

	<div class="field">
		<label><?php echo __('Tööandja'); ?></label>
		<input type="text" name="employer[name]" value="<?php echo $this->getFieldValue('company'); ?>" />
	</div>

	<div class="field">
		<label><?php echo __('Tööaeg'); ?></label>
		<select name="employer[work_time]">
			<option value="up to 6 months"><?php echo __('kuni 6 Kuud'); ?></option>
			<option value="6-24 months"><?php echo __('6-24 Kuud'); ?></option>
			<option value="24-60 months"><?php echo __('24-60 Kuud'); ?></option>
			<option value="more than 60 months"><?php echo __('üle 60 Kuu'); ?></option>
			<option value="self-employed"><?php echo __('FIE'); ?></option>
			<option value="unemployed"><?php echo __('Töötu'); ?></option>
			<option value="retired"><?php echo __('Pensionär'); ?></option>
			<option value="parental leave"><?php echo __('Vanemapuhkus'); ?></option>
		</select>
	</div>

	<div class="field">
		<label><?php echo __('Neto töötasu'); ?></label>
		<input type="text" name="employer[salary]" />
	</div>

	<div class="field">
		<label><?php echo __('Kohustused'); ?></label>
		<input type="text" name="employer[loan]" />
	</div>

	<div class="field-title"><?php echo __('Makseandmed'); ?></div>

	<div class="field">
		<label><?php echo __('Järelmaksu periood'); ?></label>
		<select name="payment[period]">
			<option value="2"><?php echo __('2 Kuud'); ?></option>
			<option value="4"><?php echo __('4 Kuud'); ?></option>
			<option value="6"><?php echo __('6 Kuud'); ?></option>
			<option value="8"><?php echo __('8 Kuud'); ?></option>
			<option value="10"><?php echo __('10 Kuud'); ?></option>
			<option value="12"><?php echo __('12 Kuud'); ?></option>
			<option value="18"><?php echo __('18 Kuud'); ?></option>
			<option value="24"><?php echo __('24 Kuud'); ?></option>
		</select>
	</div>

	<div class="field">
		<label><?php echo __('Sissemakse (€)'); ?></label>
		<input type="text" name="payment[downpayment]" />
	</div>

	<div class="field-button">
		<button class="action primary confirm-button" type="submit"><?php echo __('Taotle'); ?></button>
	</div>

<?php
} else {
?>
	<div class="liisicontract-confirmation">
	<?php
	$success = $this->getFieldValue('success');
	if ($success == "error") {
		echo "<h1>".__('Tekkis viga tellimuse vormistamisel, palun võtke ühendust administraatoriga.').' ('.$this->getFieldValue('successComment').')'."</h1>";
	} elseif ($success == "fail") {
		echo "<h1>".__('Teie taotlus on automaatselt tagasilükatud, põhjuseks: ').__($this->getFieldValue('successComment'))."</h1>";
	} elseif ($success == "error") {
		echo "<h1>".__('Tekkis süsteemi viga ('.$this->getFieldValue('successComment').')')."</h1>";
	} elseif ($success == "success") {
		echo "<h1>".__('Teie taotlus on aksepteeritud.')."</h1>";
		$terms = $this->getFieldValue("successTerms");
		?>
		<div class="term-row">
			<div class='contract-term'><?php echo __('Sissemakse: ').((float)$terms->DownPayment); ?>€</div>
			<div class='contract-term'><?php echo __('Periood: ').((int)$terms->ScheduleDuration)." ".__('kuud'); ?></div>
		</div>
		<div class="term-row">
			<div class='contract-term'><?php echo __('Kuumakse: ').((int)$terms->MonthlyPayment); ?>€</div>
			<div class='contract-term'><?php echo __('Lepingutasu: ').((int)$terms->ContractFee); ?>€</div>
		</div>
		<div class="field-button"><button class='action primary confirm-button' type='submit' name='confirmContract'><?php echo __('Kinnita leping'); ?></button></div>
		<?php
	} elseif ($success == "pending") {
		echo "<h1>".__('Teie taotlus on ülevaatamisel, võtame teiega ise ühendust kui taotlus on ülevaadatud')."</h1>";
	} elseif ($success == "final_success") {
		echo "<h1>".__('Leping on kinnitatud, teie tellimus on teostamisel.')."</h1>";
	}
	?>
	</div>

<?php
}
 ?>

</form>
